.listEmployee-main-body {
    overflow: hidden;
}

.listEmployee-heading {
    display: flex;
    align-items: center;
    min-width: fit-content;
}

.listEmployee-heading h1 {
    flex: 1;
}

.employee-filter {
    text-wrap: nowrap;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0 20px;
}

.employee-filter-select {
    margin: 0;
    vertical-align: middle;
    padding: 5px;
    font-size: 14px;
    width: 120px;
    background-color: #eaf9ff;
    border: none;
    border-radius: 20px;
    appearance: none;
}

.employee-filter-select option {
    text-align: center;
}

.employee-filter-clear {
    color: red;
    font-weight: 600;
    cursor: pointer;
}

.employee-create {
    margin: 0 20px;
    text-decoration: none;
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.employee-create-plus {
    height: 50px;
    width: 50px;
    min-height: 50px;
    min-width: 50px;
    border-radius: 50%;
    background-color: #03aeed;
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 50px;
    margin-right: -20px;
    z-index: 1;
}

.employee-create-text {
    height: 30px;
    padding: 10px 50px;
    border-radius: 0 30px 30px 0;

    /* width: ; */
    text-wrap: nowrap;
    box-sizing: content-box;
    background-color: #eaf9ff;
    line-height: 30px;
    color: black;
}

.employeeList {
    /* overflow: auto;
    height: 100%; */
}

.employeeList-table {
    width: 100%;

    height: calc(100vh - 300px);
    padding: 0 20px;
    /* height: 100%; */
}

.employeeList-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;

    grid-column-gap: 20px;
    align-items: center;
    padding: 15px 20px;
    margin: 10px 0;
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
}

.employeeList-tableHeading {
    margin: 0 0 10px 0;
    background-color: #eaf9ff;
    font-weight: 700;
}

.employeeList-tableData {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #c5c3c3;
    transition: ease-in-out 0.2s;
}

.employeeList-tableData:hover {
    background-color: #03ed171f;
}

.employeeList-row span {
    text-overflow: ellipsis;
    /* max-lines: 1; */
    text-wrap: nowrap;
    overflow: hidden;
    /* white-space: nowrap; */
}

.employeeList-tableBody {
    /* flex: 1; */
    overflow: auto;
    height: 100%;
}

.employeeList-tableBody::-webkit-scrollbar {
    display: none;
}

.table-row-action {
    display: flex;
    gap: 30px;
    z-index: 2;
}

.table-row-action .icon {
    cursor: pointer;
}

.table-row-action-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-row-action-button:hover {
    background-color: #03afed3f;
}

.statusPill {
    display: block;
    width: 100px;
    /* padding: 5px; */
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    font-size: 14px;
    text-align: center !important;
    font-weight: 600;
    color: #03aeed;
}

.statusPillProbation {
    background-color: #f5ecb8;
}

.statusPillActive {
    background-color: #d3f4be;
}

.statusPillInactive {
    background-color: #ffbfbf;
}

.delete-employee-modal-background {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.delete-employee-modal {
    position: relative;
    box-sizing: border-box;
    padding: 40px 80px;
    background-color: white;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.delete-employee-modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.delete-employee-modal-buttons {
    display: flex;
    /* justify-content: center; */
    gap: 20px;
    width: 200px;
    height: 40px;
}

.delete-employee-modal-buttons button {
    width: 100%;
    height: 100%;
    padding: 0;
    /* border: none; */
    border-radius: 5px;
    cursor: pointer;
}
